nav ul {
  display: flex;
  background-color: #1b0738;
  padding: 20px 0px 10px 0px;
}
.homepage nav ul {
  justify-content: center;
}
a {
  display: block;
  color: white;
  font-family: 'Krungthep';
  text-align: center;
  padding: 25px 27px;
  text-decoration: none;
}
img {
  width: 100%;
}
body {
  background: rgb(26, 6, 101);
  background: linear-gradient(180deg, rgba(26, 6, 101, 1) 0%, rgba(61, 87, 201, 1) 75%, rgba(74, 110, 233, 1) 100%);
  height: 100%;
}
h1 {
  font-family: 'Krungthep';
  font-style: normal;
  font-size: 75px;
  margin-bottom: 32px;
  color: #ffffff;
}
h2 {
  font-family: 'Krungthep';
  font-style: normal;
  font-size: 30px;
  padding-bottom: 30px;
  text-align: center;

  color: #ffffff;
}
h3 {
  font-family: 'Silom';
  font-style: normal;
  font-size: 20px;
  text-align: center;

  color: #ffffff;
}
h4 {
  font-family: 'Krungthep';
  font-style: normal;
  font-size: 22px;
  text-align: left;
  margin-bottom: 32px;

  color: #ffffff;
}
p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 35px;
  text-align: left;
  margin-bottom: 32px;
  color: #ffffff;
}
article {
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  text-align: left;

  color: #ffffff;
}
.flex-article div {
  flex: 50%;
  margin: 20px;
}
.homepage .flex-me {
  padding: 90px 60px;
}
.homepage .flex-me .left {
  margin-right: 80px;
}
.flex-me {
  display: flex;
}
.flex-me div {
  flex-wrap: wrap;
}

.flex-games {
  padding-bottom: 50px;
  display: flex;
}
.flex-games {
  flex-wrap: 10;
  justify-content: space-evenly;
}
.flex-article {
  padding: 60px;
  display: flex;
}
.flex-article img {
  display: inline-block;
  padding-bottom: 60px;
}
.flex-me div {
  flex: 1;
}

.button-box {
  padding-bottom: 50px;
  display: flex;
  width: auto 100%;
}
.button-box div {
  flex: 5;
  justify-content: space-evenly;
}
.button-box img:hover {
  filter: hue-rotate(15deg);
}
